/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background:rgba(19, 110, 180,0.5);
}
/* Overlay closing cross */
.overlay .overlay-close {
	width: 50px;
    height: 50px;
    position: absolute;
    right: 252px;
    top: 69px;
	overflow: hidden;
	border: none;
	background: url(../images/base/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}
/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}
.overlay ul>li {
	padding:20px 0 0;
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
}
.overlay ul li a {
	font-size:2.5em;
	font-weight: 400;
	display: block;
	color: #fff;
	text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.overlay ul li ul {
    padding:15px 0px;
	text-align:center;
}
.overlay ul li ul li {
	display:inline-block;
	padding:0 1em;
	line-height:20px;
	height:auto;
	min-height:20px;
}
.overlay ul li ul li a {
	font-size: 1.5em;
	font-weight: 400;
	display: block;
	color: #fff;
	text-decoration:none;
	line-height:20px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}
/* Effects */
.overlay-genie {
	background: transparent;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
	transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
}
.overlay-genie.open {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.overlay-genie svg {
	position: absolute;
	top: 0;
	left: 0;
}
.overlay-genie .overlay-path {
	fill:rgba(19, 110, 180,0.8);
}
.overlay-genie nav {
	opacity: 0;
	-webkit-transform: scale(0.8) translateY(-48%);
	transform: scale(0.8) translateY(-48%);
	-webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
	transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
.overlay-genie .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.overlay-genie.open nav,
.overlay-genie.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.overlay-genie.open nav {
	-webkit-transform: scale(1) translateY(-50%);
	transform: scale(1) translateY(-50%);
}
.overlay-genie.close nav,
.overlay-genie.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}