html,
body 
{ line-height:180%; font-size:1.0em; font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; background:white;}
li {list-style:none;}


a {transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; color:#333;}

/* 划过图片放大 */
.img-auto { display:block; overflow:hidden; }
.img-auto img { width:auto; height:auto; margin:0px auto; transition: 600ms; }
.img-auto img:hover { -webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1); }


/* 导航 */
.navbar-default {
padding:15px 0px;
background:white;
opacity: 0.9;
-moz-box-shadow:0px 0px 15px #888;
-webkit-box-shadow:0px 0px 15px #888;
box-shadow:0px 0px 15px #888;
}
@media (max-width: 768px) {
.navbar-default {padding:5px 0px;}
}

.navbar-default .navbar-nav>li> a {color:#000;}

/* logo */
.navbar-brand {padding:0px; width:280px;
	max-height:40px;}
@media (max-width: 768px) {
a.navbar-brand img {
    width:auto;
	max-width:280px;
	max-height:40px;
	margin: 0px auto;
}
}

/* 导航右侧 */
@media (min-width: 768px) {
#navbar {
float:right;
}

}

/*导航用户注册*/
#navbar .user-panel { margin:10px 0 0 30px;  }
#navbar .user-panel a,
#navbar .user-panel a:visited,
#navbar .user-panel a:link{
	color: #198DDD;
	font-size: 14px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	border:1px solid #198DDD;
}
#navbar .user-panel a:hover{ color:#198DDD;}
#navbar .user-panel a.top-login {color:white; background:#198DDD;}
#navbar .user-panel a:hover {background:#26c79d; color:white;border:1px solid #26c79d;}

}





@media (min-width: 768px) {
ul.navbar-nav li.oen { height:70px; padding:10px 0px;}
}

.top-nav-right {
  position: absolute;
  top:20px;
  right:20px;
}

.top-nav-right ul {width:120px; }

.top-nav-right ul li { 
float:left; width:30px;
height:30px;
line-height:30px;
margin:2px; 

}
.top-nav-right ul li.nav-shopping a { 
position: absolute;
top:0px;
right:0px;display:block; width:30px; height:30px;
}
.shopping-box {margin:0px auto; padding:20px;}
.shopping-box li {margin:10px;}

@media (max-width: 768px) {
#navbar .user-panel {margin-bottom:10px;}
.top-nav-right ul li.nav-shopping,
.top-nav-right ul li.glyphicon-search {
display:none;
}
.navbar-toggle {z-index:999;}
.top-nav-right {width:30px;position:relative;
top:0px;
left:5px; z-index:99; font-size:26px; }

}

/* 幻灯文字 */
.carousel-caption {
bottom:10%;
}

.carousel-caption h3 {margin-bottom:30px;font-size:3.2em;}
.carousel-caption p {line-height:200%;font-size:1.2em;}
.carousel-caption .btn {margin-top:20px; font-size:1.0em;}


/* 手机幻灯片最小高度 */
@media (max-width: 768px) {
#myCarousel img {min-height:300px;}
}

.modal {top:20%;}

.bs-example-modal-lg-search .row { padding:20px; }



/* 通用 */

.blank5,.blank10,.blank20,.blank30,.blank50,.blank60 {clear:both;height:5px;overflow:hidden;}
.blank10 {height:10px;}
.blank20 {height:20px;}
.blank30 {height:30px;}
.blank50 {height:50px;}
.blank60 {height:60px;}



.title,.title-2 { padding:50px 0px 60px 0px; text-align:center; text-transform:uppercase;}
.title h1,.title h3 a { color:#165aa5;line-height:45px;height:45px;font-size:40px; font-weight: normal;text-decoration: none; }
.title h3 small {display:block; clear:both; margin:20px 0px 10px 0px; color:#a1a1a1; font-size:10px; }
.title p,.title-index-1 p { margin:10px auto 30px auto;line-height:20px;color:#333;font-size:16px; }
.title span {}
@media (min-width: 768px) {
.title p,.title-index-1 p {width:600px;}
}
.title-2 a {font-size:30px;}
.title-2 h3 a small {display:block; clear:both; margin:10px 0px 10px 0px; color:#a1a1a1; font-size:8px;}


/* 页底 */


.foot { padding:100px 0px 0px 0px; 
background:#333; color:#9b9b9;}
.foot .container {position: relative;}
.foot a {color:#9b9b9b;}
.foot h5 { color:#9b9b9b; margin-bottom: 60px;  line-height:180%; font-size: 16px; font-weight: normal; }
.foot .foot-nav { clear:both; margin-bottom: 60px; overflow: hidden; }
.foot .foot-nav dl {}

.foot .foot-nav dl dt { position: relative; padding-bottom: 30px; border-bottom: 1px solid #9fa0a1; margin-bottom: 20px; font-size: 20px;  }
.foot .foot-nav dl dt b { position: absolute; display: block; width: 39%; height: 3px; left: 0; bottom: -2px; background-color: #fff; }
.foot .foot-nav dl dd { line-height: 30px; }
.foot .foot-nav dl dd a { font-size: 16px;  }
.foot .copyright { clear:both;  margin:30px 0px; text-align: center; color:#9b9b9b; }


.fweixin img {width:150px;}
.fweixin p {  line-height: 24px; text-align: center; }





.sub_menu {
margin-top:30px;}



@media (max-width: 768px) {
.sub_menu {
height:0px;overflow:hidden;
}
}


/* 面包屑导航 */
.breadcrumb {margin-bottom:50px;}
.breadcrumb span {padding-right:15px; color:#ccc;}

/* 内页文字大小按钮 */
.content_tools {
float:right;
margin:30px 0px; 
padding:5px 15px;
background:#eee;
text-align:right;
font-size:14px;
}





/************* 分页 */

.pages {
  clear:both;
  margin:0px 10px;
  font-size:0.8em;
  color:#888;
}

.pages strong,.pages span {
  color:#FFFFFF;
  display:block;
  float:left;
  height: 26px;
  line-height: 26px;
  float:left;
  padding:0px 8px;
  background:#337ab7;
  margin: 0px 3px 0px 0px;
  font-size:0.8em;
  border-radius: 3px 3px 3px 3px;
}
.pages a,.pages a {
  display:block;
  float:left;
  height:24px;
  line-height:24px;
  float:left;
  padding:0px 8px;
  border:1px solid #337ab7;
  border-radius: 3px 3px 3px 3px;
  text-decoration:none;
  margin: 0px 3px 0px 0px;
  color:#337ab7;
  font-size:0.8em;
}

.pages strong {color:white;}

.pages span {
  float:right;
}

#page {
font-size:0.8em;
}

#page strong {
padding:5px 8px;
background:#337ab7;
border-radius:5px;
color:white;
margin-right:15px;
font-size:0.8em;
}

.pagination {margin:50px 0px;}




/* 分页 */

.page-number {
 position:relative;
 right:0px;
 top:5px;
  color:#FFFFFF;
  height: 26px;
  line-height: 26px;
  padding:9px 20px;
  background:#337ab7;
  margin: 0px 3px 0px 0px;
  font-size:0.8em;
  border-radius: 3px 3px 3px 3px;
}

/* 正文 */
#content_text {line-height:180%;font-size:1.2em;}





/* 首页 */


.index-1,.index-3 { padding-bottom:100px; background: #f8f8f8; }
.index-1 ul { overflow: hidden; }
.index-1 li { height: 350px;  overflow: hidden; text-align: center; float: left; border: 1px solid transparent; position: relative; transition: 400ms; }
.index-1 li:hover {background:white;border:1px solid #ccc;}
.index-1 .t1 { width: 100%; height: 140px; padding: 70px 0 0 0; font-size: 14px; color: #9b9797; transition: 400ms; }
.index-1 .t1 .img-auto {height:176px; margin:0px 0px 10px 0px; overflow:hidden; }
.index-1 .t1 a { margin: 0 0 5px 0; font-size: 18px; color: #3a3a3a; transition: 400ms; }
.index-1 .t2 { width: 100%; padding: 20px 10px 0px 10px; height: 80px; line-height: 24px; font-size: 14px; color: #fff; background: #7bc91e; position: absolute; left: 0; bottom: -80px; transition: 400ms; }
.index-1 li:hover .t1 { margin-top:-50px; }
.index-1 li:hover .t2 { bottom:0px; }

@media (max-width: 768px) {
.index-1 li {
margin-bottom:30px;
background:white;border:1px solid #ccc;
}
.index-1 li .t1 { margin-top:-50px; }
.index-1 li .t2 { bottom:0px; }
}


.index-2 {padding-bottom:80px;}
.index-2 div div { padding:20px 30px; border:1px solid #eee;  -moz-box-shadow:0px 0px 10px #eee;
-webkit-box-shadow:0px 0px 10px #eee;
box-shadow:0px 0px 10px #eee; border-radius:3px;}
@media (max-width: 768px) {
.index-2 div div {margin-bottom:20px;}
}

.index-2 div div.img-auto a {display:block; height:100px;margin:20px 0px;overflow:hidden;}
.index-2 div div.img-auto h4 a { height:16px; font-size:14px;}
.index-2 div div:hover {background:#eee;}
.index-2 div div p {font-size:12px;color:#555;}
.index-2 div div p.date {color:#999;}



.index-3 .btn {padding:10px 40px;border-radius:50px;}
.index-3-left { height:315px; overflow:auto; }
.index-3-left p {text-indent:2em; }
@media (max-width: 768px) {
.index-3-left {margin-bottom:30px;}
}

.index-6 {padding:0px 0px 100px 0px;}
.index-6 ul li { height:124px; padding:0px; border:1px solid #eee; overflow:hidden;}
.index-6 ul li .img-auto {
width:89px;
height:68px;
margin:28px 50px;
overflow:hidden;
}






/* 友情链接 */
.home-links { padding:50px 0px 0px 0px;  background:#333; color: #666; }
.home-links .hr  {padding:15px 0px 0px 0px; border-top:1px dotted #555;}
.home-links-left {padding:0px;}
.home-links .links-logo img {
float:left; margin:10px;
opacity: 0.2;
}
.home-links .links-logo img:hover {opacity: 1; transition: 400ms;}
.home-links .links-a { clear:both; margin: 0 auto; font-size: 14px; padding-bottom: 60px; }
.home-links .links-a a { color: #666; padding: 10px; line-height: 300%; }






/**/
/*列表页 -文字列表*/
/**/
.list-container a {color:#333;}
.list-container p {color:#888;}
.list-container h4 {color:#000;font-weight:bold; }
.list-container .row{margin-bottom:15px;}
.list-container .news-list{margin-bottom:0;}

.list-border{padding:15px; clear:both; border:1px dotted transparent; border-bottom-color:#BBBBBB;}
.list-border-w{border:1px dotted #BBBBBB; margin:15px 0px;}
.list-border:hover{background:#F5F5F5; border-color: #ccc; border-radius: 5px 5px 5px 5px;}


.list-date {width: 4em; float: left; margin-right: 20px;text-align: center;}
.list-date span{display:block;width:1em;line-height:1em;padding-top: .1em;white-space:nowrap;font-size: 4em;color:#555;overflow:hidden;font-family: 'Times New Roman', Times, serif;}
.list-date p {clear:both; display:block; width:4em;overflow:hidden;margin-bottom:0;}

.news-list p,
.news-list-text-pic p,
.list-down p{line-height:1.6}
.list-down .img-auto {height:170px;overflow:hidden;}



#projectlist.masonry {
margin: 0 auto;
}

#projectlist { }
.wrapper { margin: 0px auto; }
.projectitem {margin:0px 0px 30px 0px;width: 380px; float: none; -webkit-backface-visibility: hidden;/*谷歌图片闪烁*/ -webkit-transform-style: preserve-3d;}
.projectitem a
{position:relative;display:block; }

.projectitem a:hover
{text-decoration:none;overflow:hidden;}

.projectitem a h4
{display:none;cursor:hand;text-align:center;}

.projectitem a:hover h4
{width:100%; line-height:30px; margin:0; padding:15px 0px;background:#333;display:block;position:absolute;bottom:0;left:0;color:#fff;filter:alpha(opacity=56);-moz-opacity:0.8;opacity:0.8;}


.projectitem img,
.index-1 img,
.index-2 img,
.index-3 img,
.owl-item img
{
 -moz-box-shadow:0px 0px 10px #888;
-webkit-box-shadow:0px 0px 10px #888;
}


/*列表页 - 右侧*/

.content-right-list h3 {font-size:16px;}
.content-right-list ol {margin-bottom:60px;}
.content-right-list ol li {list-style-type:decimal ;font-size:14px;line-height:1.8}
@media (max-width: 768px) {
.content-right-list {
margin-top:60px;
}
}



/* 联系我们地图页 */

.contact-us {background:#242625; }

.contact-us h3 {font-size: 60px;line-height:120%;color:#CCCCCC;text-align:center;padding:50px 0 ;}
.contact-us h3 span{font-weight:bold;color:#C22C45;}
.contact-us h4 {clear:both;  margin:50px auto 0;padding:0 0 50px}

.contact-us dl {}
.contact-us dl dt {line-height:40px;color:#CACACA;font-size: 26px;margin-bottom:10px;}
.contact-us dl dd{color:#AEAEAE;font-size: 1.0em;}
.content-ditu {height:50.8em;overflow:hidden;}




/* 产品页面右侧文字信息 */
.product_info{  overflow:hidden}
.product_info table{ color:#535353; width:100%; }
.product_info table th{ text-align:right; padding:7px 5px; width:120px; font-weight:normal; color:#888;}
.product_info table td{ padding:5px; color:#535353; font-size:0.9em;}
.product_info table tr{}
.product_info strong{ color:#E53F40; font-size:30px;}
#dialog_link {margin-left:20px;background:#236298;}
@media (max-width: 768px) {
#dialog_link {margin:20px 0px 0px 0px;}
}


/* 滚动图片 */
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}
.owl-carousel .owl-item {float:left;  padding:0px 50px; overflow:hidden; text-align:center; }
.owl-carousel .owl-item a.img-auto {height:350px;overflow:hidden;}
.owl-carousel .owl-item h4 { margin:30px 0px; font-size:16px;}
.owl-carousel .owl-item h4 small {padding-left:20px; font-style : oblique; }


.owl-controls .owl-page,
.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* mouse grab icon*/
.grabbing{cursor:url(../images/index/grabbing.png) 8 8, move;}
/* fix*/
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);}



.owl-theme .owl-controls{margin-top: 20px;text-align: center;}
/* Styling Next and Prev buttons*/
.owl-theme .owl-controls .owl-buttons div {color: #333;display: inline-block;zoom: 1;*display: inline;/*IE7 life-saver*/margin: 5px;padding: 5px 15px;font-size: 20px; font-weight:bold; background: #eee; }
.owl-theme .owl-controls .owl-buttons div:hover {background:#333; color:white;}
/* Clickable class fix problem with hover on touch devices*//* Use it for non-touch hover action*/
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;text-decoration: none;}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{display: inline-block;zoom: 1;*display: inline;/*IE7 life-saver*/}
.owl-theme .owl-controls .owl-page span{display: block;width: 12px;height: 12px;margin: 5px 7px;filter: Alpha(Opacity=30);/*IE7 fix*/opacity: 0.3;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background: #999;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;}
/* If PaginationNumbers is true*/
.owl-theme .owl-controls .owl-page span.owl-numbers{height: auto;width: auto;color: #FFF;padding: 2px 10px;font-size: 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
/* preloading images*/
.owl-item.loading{min-height: 150px;background: url(../images/base/AjaxLoader.gif) no-repeat center center}
.owl-carousel .owl-wrapper:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}



.content-bottom-list-more {padding:8px 15px; background:#eee; color:#888;}

@media (min-width: 768px) {
.servers-wap {
display:none;
}
.dropdown-menu>li>a {padding:10px 20px;}
}

@media (max-width: 768px) {
/* 手机菜单圆形按钮颜色 */
.plug-menu {
background: #ccc;
}

/* 手机菜单弹出按钮颜色 */
.top_menu>li {
background: #ccc;
}

/* 手机菜单平铺背景颜色 */
.foot_mp {
background: #ccc;
}


.servers,
.foot-share,
.content_tools_box
{display:none;}

ul.nav-pills li.active {clear:both; display:block; }
#carousel-example-generic {margin-bottom:30px;}
.content-bottom-list-more {display:block; width:110px; margin-bottom:30px;}

}

.navbar-right {padding:0px;}
.top-nav-right .dropdown-menu li {clear:both;width:98%;}
.lead {font-size:1.0em; line-height: 1.8;}
.index-1 ul,.index-6 ul {margin:0px;padding:0px;}



#fat-menu {margin-top:3px;}









/*-- banner section --*/
section.banner {
	background:url(../images/base/banner1.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	height:925px;
	position:relative;
}
section.banner .rslides {
	height:925px;
} 
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.rslides {
	margin: 0 auto;
}
.banner-info {
	position:absolute;
	text-align:center;
	width:100%;
	top:285px;
}
.banner-info h3 {
	color: #fff;
    font-size:60px;
    text-transform: uppercase;
    letter-spacing:15px;	
	padding:0 10%;
} 
section.banner .banner-info hr {
	margin:20px 500px;
	border-top:2px solid rgba(255, 255, 255, 0.32);
}
/*-- banner section --*/
/*-- about section --*/
section.about {
	padding:100px 0 50px;
	position:relative;
	background-color:#f7f7f7;
}
section.about h2 {
	font-size:40px;
	padding-bottom:20px;
	text-transform:uppercase;
	color:#2e6f97;
}
section.about p {
	font-size:16px;
	font-weight:normal;
	line-height:35px;
	padding-bottom:15px;
}
section.about .about-details {
	padding:1em;
}
section.about img.img-responsive {
   
}
.about-w3ls2 {
    position: absolute;
    width: inherit;
    bottom:7em;
}
img.about2 {

}
img.about3 {
    padding-top: 150px;
}
.col-lg-7.col-md-7.about_left {
    padding-left: 0;
    margin: 0;
}
.col-lg-6.col-md-6.about_right {
	
}
.col-lg-3.col-md-3.about_left_grid {
}
/*-- /about section --*/
/*-- info section --*/
section.info {
	padding:100px 0; 
}
section.info h3 {
	font-size:45px;
	padding:55px 55px 0;
	color:#2e6f97;
	line-height:65px;
	text-transform:uppercase;
}
.col-sm-6.info-agile {

}
section.info i.fa {
	font-size:25px;
	vertical-align:middle;
	text-align:center;
	color:#f38181;
}
section.info i.fa:hover {
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
section.info h4 {
    font-size: 20px;
    padding: 15px 0 10px;
    color: #000;
}
section.info p {
	font-size:15px;
	padding:0px 0 45px;
	line-height:30px;
	color:#000;
}
/*-- /info section --*/
/*-- divider section --*/
section.divider {

}
.divide-info1,.divide-info2 {
	position: absolute;
    z-index: 99;
    width: 100%;
    text-align: justify;
    top: 160px;
    padding:0 100px;
    margin-left: 0px;
}
.divide-info1 h3,.divide-info2 h3 {
	font-size:25px;
	color:#fff;
	padding-bottom:15px;
	text-transform:uppercase;
}
.divide-info1 h3 a,.divide-info2 h3 a{
	color:#fff;
}
.divide-info1 p.divide-p1,.divide-info2 p.divide-p1 {
    font-size: 16px;
    padding-bottom: 60px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
}
.divide-info1 p.divide-p2,.divide-info2 p.divide-p2 {
	font-size:16px;
	color:#fff;
	line-height:35px;
}
.col-lg-6.col-md-6.col-sm-6.divide-w3ls {
    padding: 0;
}
@media(max-width: 768px){
.divide-w3ls{
	clear:both;
}
}
section.divider i.fa {
    font-size: 50px;
    color: #fff;
    padding-bottom: 20px;
}
/*-- /divider section --*/
/*-- work section --*/
section.work {
	padding:100px 0;
}
section.work h3.text-center {
	font-size:40px;
	color:#2c7095;
	padding-bottom:20px;
	text-transform:uppercase;
}
section.work p.text-center {
	font-size:16px;
	padding-bottom:50px;
}
section.work .row.work-w3ls2 {
    margin-top: 30px;
}
section.work .content {
	margin: 0 auto;
}
section.work .content > h4 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-size: 1.5em;
}
section.work .content > h4:first-child {
	padding-top: 0em;
}
section.work .grid {
	position: relative;
	margin: 0 auto;
	padding:0;
	width:100%;
	list-style: none;
	text-align: center;
}
section.work .grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin:0;
	width:100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}
section.work .grid figure img {
	position: relative;
	display: block;
	height:auto;
	width: 100%;
	opacity: 0.8;
}
section.work .grid figure figcaption {
	padding:0;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*section.work .grid figure figcaption::before,
section.work .grid figure figcaption::after {
	pointer-events: none;
}*/
section.work .grid figure figcaption,
section.work .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
section.work .grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
section.work .grid figure h4 {
	word-spacing:0;
}
section.work .grid figure h4 span {

}
section.work .grid figure h4,
section.work .grid figure p {
	margin: 0;
}
section.work .grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
section.work figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}
section.work figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}
section.work figure.effect-chico figcaption {
	padding: 3em;
}
section.work figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
section.work figure.effect-chico figcaption::before,
section.work figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
section.work figure.effect-chico h4 {
	padding: 44% 0 10px 0;
	font-size:16px;
}
section.work figure.effect-chico h4 a{
	color:#FFF;
}
section.work .work-grid figure.effect-chico h4 {
    padding: 13% 0 20px 0;
}	
section.work figure.effect-chico p {
    margin: 0 auto;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    line-height: 2em;
	color:#fff;
	height:4em;
	overflow:hidden;
}
section.work figure.effect-chico:hover figcaption::before,
section.work figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 50em) {
	section.work .content {
		padding: 0 10px;
		text-align: center;
	}
	section.work .grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
/*-- /work section --*/
/*-- service section --*/
section.service {
	padding:100px 0;
	background-color:#136eb4;
}
section.service h3 {
	color:#fff;
	font-size:55px;
	padding:30px 0;
	line-height:80px;
	text-transform:uppercase;
}
section.service h3 a{
	color:#fff;
}
section.service a {
	text-decoration:none;
}
section.service h4 {
	font-size:21px;
	
	color:#fff;
	text-transform:uppercase;
	padding-bottom:10px;
}
section.service h4 a{
	color:#fff;
}
section.service p {
	font-size:16px;
    color: #fff;
    width: 135%;
    padding-bottom: 40px;
    line-height: 35px;
}
/*-- /service section --*/
/*-- testimonial section --*/
section.test {
	padding:100px 0;
}
section.test .carousel-control.left,section.test .carousel-control.right {
	background-image:none;
}
section.test .carousel-control .glyphicon-chevron-left,section.test .carousel-control .icon-prev {
    left: -70%;
    margin-left: -10px;
    color: #000;
}
section.test .carousel-control .glyphicon-chevron-right,section.test .carousel-control .icon-next {
    right: -70%;
    margin-left: -10px;
    color: #000;
}
section.test blockquote {
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    font-style: italic;
    border-left: none;
}
section.test h3 {
    font-size: 30px;
    
    font-style: italic;
	text-indent:95px;
	position:relative;
}
section.test h3 span.line1 {
    width: 65px;
    height: 2px;
    display: block;
    background: red;
    position: absolute;
    top: 15px;
    left: 20px;
}
section.test img.img-circle.img-responsive {
    width: 250px;
}
/*-- testimonial section --*/
/*-- team section --*/
section.team {
	padding:100px 0;
}
section.team h3.text-center {
	font-size:40px;
	
	color:#2c7095;
	padding-bottom:20px;
	text-transform:uppercase;
}
section.team p.text-center {
	font-size:16px;
	padding-bottom:50px;
}
section.team .grid {
	padding:0;
	width:100%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
section.team .grid li {
	display: inline-block;
	width:100%;
	margin: 0;
	padding:0;
	text-align: left;
	position: relative;
}
section.team .grid figure {
	margin: 0;
	position: relative;
}
section.team .grid figure img {
	width: 100%;
	height:auto;
	display: block;
	position: relative;
}
section.team .grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding:0;
	background: #2c3f52;
	color: #ed4e6e;
}
section.team .cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
figcaption#t1 {
	background:url(../images/base/team-img1-1.jpg);
	background-position: center;
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
figcaption#t2 {
	background:url(../images/base/team-img2-2.jpg);
	background-position: center;
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
figcaption#t3 {
	background:url(../images/base/team-img3-3.jpg);
	background-position: center;
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
section.team .cs-style-1 figure:hover figcaption,
section.team .cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(-10px, -10px);
	-moz-transform: translate(-10px, -10px);
	-ms-transform: translate(-10px, -10px);
	transform: translate(-10px, -10px);
}
section.team .cs-style-1 figure div{
	height:100%;
	width:100%;
	background:rgba(0,0,0,.6);
	overflow:hidden;
}
section.team .cs-style-1 figure h4{
	margin:0 20px 10px;
	padding:60px 0 0 ;
	font-size:1.4em;
}
section.team .cs-style-1 figure h4 a{
	color:#FFF;
}
section.team .cs-style-1 figure p{
	margin:0 20px 10px;
	color:#FFF;
}
section.team .cs-style-1 ul.social-icons1 {
	list-style:none;
	margin-top:195px;
}
section.team .cs-style-1 ul.social-icons1 li {
	display:inline;
	margin-right:2px;
}
section.team .cs-style-1 ul.social-icons1 li a {
	text-decoration:none;
	font-size:16px;
	color:#fff;
}
section.team .cs-style-1 ul.social-icons1 li a i.fa {
	font-size: 16px;
    line-height: 36px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
	background-color:transparent;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
section.team .cs-style-1 ul.social-icons1 li a i.fa:hover {
	background-color:#ff9900;
	border: 1px solid #ff9900;
	color:#fff;
}
section.team .cs-style-1 ul.social-icons1 li a:hover {
	color:#ff9900;
}
section.team h4 {
    font-size: 18px;
    
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
} 
p.team-p1 {
    text-align: center;
    font-style: italic;
}
/*-- /team section --*/
/*-- subscribe section --*/
section.subs {
    padding: 100px 0;
	text-align:center;
	background-color:#136eb4;
}
section.subs h3.text-center {
	font-size: 35px;
    font-weight: 300;
    padding-bottom: 50px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 7px;
}
section.subs .subscribe input#input10 {
	float: left;
    text-align: center;
    width: 40%;
    font-size: 18px;
    font-weight: normal;
    height: 50px;
    outline: none;
    border-radius: 0;
    margin-left: 233px;
    border-color: #fff;
    border-right: transparent;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
	float: right;
    width: 19%;
    height: 50px;
    font-size: 17px;
    text-transform: uppercase;
    
    margin-right: 234px;
    border-radius: 0;
    outline: none;
    color: #fff;
    background-color: #252525;
}
section.subs .subscribe button.btn.btn-outline.btn-lg:hover {
	background-color:#000;
}
input::-webkit-input-placeholder {
color: #000 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #000 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;  
}
 
input:-ms-input-placeholder {  
color: #000 !important;  
}
textarea::-webkit-input-placeholder {
color: #000 !important;
}
 
textarea::-moz-placeholder { /* Firefox 18- */
color: #000 !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;  
}
 
textarea::-ms-input-placeholder {  
color: #000 !important;  
}
/*-- /subscribe section --*/
/*-- contact section --*/
section.contact {
	padding:100px 0;
}
section.contact h3 {
	font-size: 55px;
    
    padding-bottom: 30px;
    color: #38789e;
    text-transform: uppercase;
    width: 20%;
}	
section.contact p.addr1 {
	font-size:15px;
	font-weight:normal;
	padding-bottom:10px;
} 
section.contact p.addr2 {
	font-size:15px;
	font-weight:normal;
	padding-bottom:10px;
}
section.contact p.addr2 a {
	text-decoration:none;
	color:#999;
}
section.contact ul.social-icons2 {
	padding:20px 0 40px;
}
section.contact ul.social-icons2 li{
	display:inline-block;
	margin-right:10px;
}
section.contact ul.social-icons2 li a {
	text-decoration:none;
}
section.contact ul.social-icons2 li a i {
	vertical-align: middle;
    text-align: center;
	color:#000;
	font-size:20px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
} 
section.our-contact .footer-links ul li a i.fa.fa-facebook {
	font-size: 21px;
}
section.our-contacts .footer-links ul li a i.fa.fa-twitter {
	font-size: 19px;
}
section.our-contacts .footer-links ul li a i.fa.fa-whatsapp {
    font-size: 21px;
}
section.our-contacts .footer-links ul li a i.fa.fa-youtube {
	font-size: 20px;
}
section.our-contacts .footer-links ul li a i.fa.fa-google-plus {
	font-size:15px;
}	
section.contact i.fa:hover {
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	color:#43b7dc;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#verify {
    margin:0px;
    border: 2px solid #000;
    border-radius: 0px;
    height: 50px;
    padding: 16px 12px 16px 40px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
}

section.contact .form-control {
    border: 2px solid #000;
    border-radius: 0px;
    height: 50px;
    padding: 16px 12px 16px 40px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
}
input.form-control.user-name {
    margin-bottom: 10px;
}
input.form-control.user-name {
	background:url(../images/base/user.png) no-repeat 10px 12px;
}
input.form-control.mail {
	background:url(../images/base/mail.png) no-repeat 10px 12px;
}
input.form-control.pno {
	background:url(../images/base/phone.png) no-repeat 10px 12px;
}
textarea.form-control {
	height:85px!important;
	background:url(../images/base/write.png) no-repeat 10px 12px;
}
.form-group23{
	height:43px;
	overflow:hidden;
	padding:10px 0  0;
}
.btn-outline2 {
    margin-top: 25px;
    border:none;
	outline:none;
    font-size: 20px;
    color: #fff;
	font-weight:300;
    background:#136eb4;
    transition: all .3s ease-in-out;
}
.btn-outline2:hover,
.btn-outline2:focus,
.btn-outline2.active {
    color: #fff;
    background:#003563;
}  
button.btn-outline2 {
	padding: 11px 50px;
    font-size: 17px;
    width: 100%;
	height:85px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
}
button.btn-outline2 i.fa {
	font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
}
/*-- /contact section --*/
/*-- Map --*/
section.map iframe.googlemaps {
	width:100%;
	height:400px;
}
/*-- Map --*/
/*-- footer section --*/
section.footer {
	padding:40px 0;
	background-color:#252525;
	text-align:center;
}
section.footer a.text-center {
	color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    
	text-decoration:none;
	display:block;
}
section.footer p span{
	padding:0 .5em;
}
section.footer p.text-center {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 2em;
}
section.footer p.text-center a {
	color:#fff;
	text-decoration:none;
}
section.footer p.text-center a:hover {
	color:red;
}
section.footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
/*-- /footer section --*/

/*-- responsive design --*/
@media (max-width:1600px) {
	section.banner,section.banner .rslides {
	height:795px;	
	}
	.banner-info {
	top:225px;	
	}
	.overlay nav {
	top: 40%;
    height: 54%;	
	}	
}

@media (max-width:1440px) {
.banner-info {
    top: 215px;
}
}

@media (max-width:1366px) {
	section.test .carousel-control .glyphicon-chevron-right, section.test .carousel-control .icon-next {
	right:-20%;	
	}
	section.test .carousel-control .glyphicon-chevron-left, section.test .carousel-control .icon-prev {
	left:-20%;	
	}
	.overlay nav {
    top: 47%;
}
}

@media (max-width:1280px) {
.banner-info h3 {
	font-size:55px;	
}
section.banner .banner-info hr {
    margin: 20px 280px;
}
section.test .carousel-control .glyphicon-chevron-left, section.test .carousel-control .icon-prev {
    left: -15%;
}
section.test .carousel-control .glyphicon-chevron-right, section.test .carousel-control .icon-next {
    right: -15%;
}
}

@media (max-width: 1080px) {
.banner-info h3 {
    font-size: 45px;
}
.logo {
	padding:55px 0 0 40px;
}
.logo a h1 {
    font-size: 35px;
}
.navigation section p button {
	right: 9em;
    top: 3em;
}
section.banner .banner-info hr {
    margin: 20px 260px;
}
section.banner, section.banner .rslides {
    height: 765px;
}
section.about h2 {
    font-size: 35px;
}
section.about p {
    font-size: 14px;
}
img.about3 {
    padding-top: 125px;
}
.about-w3ls2 {
    bottom: 90px;
}
section.about {
    padding: 80px 0 280px;
}
section.info {
    padding: 70px 0 40px;
}
.divide-info1,.divide-info2 {
	text-align: center;
    top: 40px;
    padding: 0 50px;
}
section.work figure.effect-chico h4 {
    padding: 40% 0 5px 0;
    font-size: 15px;
    line-height: 20px;
}
section.work figure.effect-chico figcaption {
    padding: 1em;
}
section.work figure.effect-chico p {
	padding:0 20px;
}
section.work .work-grid figure.effect-chico h4 {
    padding: 16% 0 15px 0;
}
section.service h4 {
    font-size: 16px;
}
section.service p {
    font-size: 14px;
}
section.work {
    padding: 70px 0;
}
section.info h3 {
    font-size: 40px;
}
section.work h3.text-center {
    font-size: 35px;
}
section.work p.text-center {
    font-size: 14px;
    padding-bottom: 40px;
}
section.service h3 {
	font-size:40px;
}
.banner-info {
    top: 200px;
}
.col-lg-4.col-md-4.serv-agile1 {
    width: 25%;
}
.col-lg-8.col-md-8.serv-agile2 {
    width: 75%;
}
section.test {
    padding: 50px 0;
}
section.team {
    padding: 50px 0;
}
section.subs {
    padding: 50px 0;
}
section.subs .subscribe input#email {
	margin-left: 179px;
}	
section.subs .subscribe button.btn.btn-outline.btn-lg {
	margin-right: 206px;
}
section.test blockquote {
    font-size: 17px;
}
section.test h3 {
    font-size: 25px;
}
section.team h3.text-center {
    font-size: 35px;
}
section.team p.text-center {
    font-size: 14px;
    padding-bottom: 40px;
}
section.subs h3.text-center {
    font-size: 30px;
	padding-bottom: 30px;
}
section.contact {
    padding: 50px 0;
}
section.contact h3 {
    font-size: 40px;
}
section.contact p.addr1 {
    font-size: 14px;
}
section.contact p.addr2 {
    font-size: 14px;
}
button.btn-outline2 {
	margin-top:10px;
	height:60px;
}
section.footer {
	padding:20px 0;
}
section.footer a.text-center {
	margin-top:10px;
}
}

@media (max-width:1024px) {
section.banner, section.banner .rslides {
    height: 675px;
}
.banner-info {
    top: 170px;
}
.banner-info h3 {
    font-size: 40px;
}
.navigation section p button {
    right: 6em;
}
img.about3 {
    padding-top: 124px;
}
section.info p {
    font-size: 14px;
}
section.info h3 {
    font-size: 40px;
	padding:40px 55px 0;
}
p.divide-p2 {
    font-size: 14px;
	line-height:30px;
}
p.divide-p1 {
	padding-bottom:45px;
}
section.contact h3 {
    font-size: 35px;
    width: 100%;
    text-align: center;
}
.contact-w3ls {
    text-align: center;
}
input.form-control.user-name {
    background: url(../images/base/user.png) no-repeat 10px 14px;
    background-size: 17px;
}
input.form-control.mail {
	background: url(../images/base/mail.png) no-repeat 10px 14px;
    background-size: 15px;
}
input.form-control.pno {
	background: url(../images/base/phone.png) no-repeat 10px 14px;
    background-size: 17px;
}
textarea.form-control {
    height: 85px!important;
    background: url(../images/base/write.png) no-repeat 10px 16px;
    background-size: 17px;
}
section.contact .form-control {
	font-size:15px;
}
}

@media (max-width:991px) {
	section.banner, section.banner .rslides {
    height: 600px;
}
.banner-info {
	top:125px;
}
.about-w3ls2 {
	position:static;	
}
.col-lg-6.col-md-6.about_right {
    margin-top: 40px;
}
.col-lg-7.col-md-7.about_left {
	padding:inherit;
}
img.about3.img-responsive {
    width: 100%;
	padding:inherit;
}
.col-lg-3.col-md-3.about_left_grid {
    margin-top: 40px;
}
.overlay .overlay-close {
    width: 35px;
    height: 35px;
	right: 101px;
    top: 61px;
}
.overlay ul li a {
    font-size: 30px;
}
.overlay nav {
    top: 45%;
}
section.about .about-details {
    padding: 0 0 25px;
    text-align: center;
}
section.about {
    padding: 50px 0;
}
section.info {
    padding: 50px 0 20px;
}
section.info h3 {
    font-size: 35px;
    padding: 0px 0px 20px;
    text-align: center;
}
.col-sm-6.info-agile {
    text-align: center;
}
.col-lg-3.col-md-3.col-sm-6.work-agile1 {
    margin-bottom: 25px;
}
.logo {
    padding: 55px 0 0 0px;
}
section.work figure.effect-chico h4 {
    padding: 45% 0 5px 0;
}
section.work .work-grid figure.effect-chico h4 {
    padding: 18% 0 15px 0;
}
.col-lg-6.col-md-6.col-sm-12.work-grid {
    margin: -25px 0 25px;
}
.col-lg-4.col-md-4.serv-agile1 {
    width: 100%;
    text-align: center;
}
section.service h3 {
    font-size: 35px;
    padding: 0 0 20px;
}
.col-lg-8.col-md-8.serv-agile2 {
    width: 100%;
}
.hi-icon-wrap {
    text-align: justify;
    padding: 0;
	margin:0;
}
.serv-w3ls {
    margin-left: -25px;
}
section.service p {
    font-size: 14px;
    width: 100%;
}
.col-lg-2.col-md-2.col-sm-2.test-w3ls1 {
    width: 100%;
    text-align: -webkit-center;
}
.col-lg-10.col-md-10.col-sm-10.test-w3ls2 {
    width: 100%;
}
section.test blockquote {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}
section.test h3 {
    font-size: 25px;
    text-align: center;
}
section.service {
    padding: 50px 0;
}
section.test h3 span.line1 {
	left:270px;
}
section.team .cs-style-1 figcaption ul.social-icons1 li a i.fa {
    font-size: 15px;
    line-height: 34px;
    width: 35px;
    height: 35px;
}
section.team .cs-style-1 figcaption ul.social-icons1 li {
	margin-right:1px;
}
section.team .cs-style-1 figcaption ul.social-icons1 {
	margin-top:178px;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    margin-right: 95px;
	width:29%;
	font-size:16px;
}
section.subs .subscribe input#email {
    margin-left: 92px;
	width:45%;
	font-size:17px;
}
section.footer p.text-center {
	margin-bottom:1em;
}
section.test img.img-circle.img-responsive {
    width: 200px;
}
section.team h4 {
	padding:20px 0 15px;
}
.banner-info h3 {
    font-size: 37px;
	letter-spacing:5px;
}
}

@media (max-width:900px) {
section.info {
    padding: 40px 0 20px;
}
section.work {
    padding: 40px 0;
}
section.service {
    padding: 40px 0;
}
section.team {
    padding: 40px 0;
}
section.contact {
    padding: 40px 0;
}
section.subs {
    padding: 40px 0;
}
}

@media (max-width:800px) {
.logo {
    padding: 55px 0 0 30px;
}
.navigation section p button {
    right: 4em;
}
section.about h2 {
    font-size: 30px;
}
section.info h3 {
    font-size: 30px;
}
p.divide-p1 {
    padding-bottom: 15px;
	font-size:14px;
}
.divide-info1 h3,.divide-info2 h3 {
    font-size: 20px;
	padding-bottom:10px;
}
section.work h3.text-center {
    font-size: 30px;
}
section.work p.text-center {
	padding-bottom:30px;
}
section.service h3 {
    font-size: 30px;
}
section.test blockquote {
    font-size: 15px;
	line-height:35px;
}
section.team h3.text-center {
    font-size: 30px;
}
section.contact h3 {
    font-size: 30px;
}
.overlay .overlay-close {
	right:69px;
}
.overlay ul li a {
    font-size: 25px;
}
}

@media (max-width:768px) {
section.banner, section.banner .rslides {
    height: 530px;
}
.banner-info {
    top: 110px;
}
.logo a h1 {
    font-size: 30px;
}
.navigation section p button i.fa.fa-bars {
	font-size:35px;
}
.navigation section p button {
    right: 45px;
    top: 43px;
}
section.info {
    padding: 20px 0;
}
section.about {
    padding: 35px 0;
}
section.info {
    padding: 20px 0 0;
}
.divide-info1,.divide-info2 {
	top:20px;
}
section.work {
    padding: 30px 0;
}
section.work .row.work-w3ls2 {
    margin-top: 0px;
}
.col-lg-6.col-md-6.col-sm-12.work-grid {
    margin:0px 0 0px;
}
.col-lg-3.col-md-3.col-sm-6.work-agile1 {
    margin-bottom: 0px;
}
section.test .carousel-control .glyphicon-chevron-left, section.test .carousel-control .icon-prev {
    left: 2%;
}
section.test .carousel-control .glyphicon-chevron-right, section.test .carousel-control .icon-next {
    right: 2%;
}
}

@media (max-width:736px) {
section.banner, section.banner .rslides {
    height: 350px;
}
.banner-info {
    top: 40px;
}
section.banner .banner-info hr {
    margin: 20px 160px;
}
.logo {
    padding: 30px 0 0 30px;
}
.navigation section p button {
	top: 17px;
}
.col-lg-6.col-md-6.about_right {
	padding:0;
}
.col-lg-3.col-md-3.about_left_grid {
	padding:0;
}
section.info p {
	padding:0 100px 45px;
}

section.info h4 {
    font-size: 18px;
}
.divide-info2 {
    top: 560px;
}
.divide-info1 {
    top: 120px;
}
.col-lg-3.col-md-3.col-sm-6.work-agile1 {
    width: 50%;
    float: left;
}
.hi-icon-wrap {
    text-align: center;
}
section.service h4 {
	padding:10px 0;
}
section.service p {
	padding-bottom:50px;
}
.serv-w3ls {
    margin-left: -80px;
}
.col-lg-4.col-md-4.col-sm-4.team-w3ls {
    width: 33.33%;
    float: left;
}
section.team .cs-style-1 figcaption ul.social-icons1 {
    margin-top: 115px;
}
section.team h4 {
    padding: 20px 0 10px;
}
p.team-p1 {
	font-size:14px;
}
section.subs .subscribe input#email {
    margin-left: 89px;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    margin-right: 90px;
	font-size: 16px;
}
}

@media (max-width: 667px) {
.logo a h1 {
    font-size: 27px;
}
.banner-info {
    top: 30px;
}
section.test h3 span.line1 {
    left: 225px;
}
section.team .cs-style-1 figcaption ul.social-icons1 li a {
	display:inline-block;
	margin:0 0 5px;
}
section.subs .subscribe input#email {
    margin-left: 71px;
}
section.map iframe.googlemaps {
	height:280px;
}
}

@media (max-width: 600px) {
.banner-info h3 {
    font-size: 30px;
    letter-spacing: 5px;
}
.banner-info {
    top: 55px;
}
.divider-info1 {
    top: 100px;
}
.divider-info2 {
    top: 500px;
}
section.service {
    padding: 25px 0;
}
section.service h3 {
    padding: 0 0 15px;
}
.serv-w3ls {
    margin-left: -60px;
}
section.test blockquote {
    font-size: 14px;
    line-height: 30px;
}
section.test h3 {
    font-size: 22px;
}
section.test h3 span.line1 {
    left: 210px;
}
section.subs .subscribe input#email {
    margin-left: 74px;
    font-size: 15px;
    height: 45px;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    margin-right: 80px;
    font-size: 15px;
    height: 45px;
}
section.contact h3 {
	padding-bottom:20px;
}
section.footer a.text-center {
	font-size:25px;
}
}

@media (max-width:600px) {
.divide-info1 {
    top: 70px;
}
.divide-info2 {
    top: 450px;
}
section.work figure.effect-chico h4 {
    padding: 40% 0 5px 0;
}
section.subs .subscribe input#email {
    margin-left: 70px;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    margin-right: 73px;
}
section.footer p.text-center {
	font-size:14px;
}
}

@media (max-width: 568px) {
.logo a h1 {
    font-size: 25px;
}
.navigation section p button i.fa.fa-bars {
    font-size: 33px;
}
.navigation section p button {
    top: 15px;
}
section.banner, section.banner .rslides {
    height: 255px;
}
.banner-info {
	top:25px;
}
.banner-info h3 {
    font-size: 25px;
}
section.about h2,section.info h3,section.work h3.text-center,section.service h3,section.team h3.text-center,section.subs h3.text-center,section.contact h3 {
    font-size: 25px;
	padding-bottom:10px;
}	
.divide-info1 p.divide-p2, .divide-info2 p.divide-p2 {
    font-size: 14px;
    line-height: 30px;
}
section.service h4 {
    padding: 0px 0 10px;
}
section.test img.img-circle.img-responsive {
    width: 150px;
}
section.test h3 span.line1 {
    left: 181px;
}
section.test h3 {
    font-size: 20px;
}
section.work p.text-center,section.team p.text-center {
    padding-bottom: 15px;
}
section.team .cs-style-1 figcaption ul.social-icons1 {
    margin-top: 60px;
}
section.team h4 {
    font-size: 15px;
}
section.subs .subscribe input#email {
    margin-left: 62px;
}
}

@media (max-width: 480px) {
section.about {
    padding: 30px 0;
}
.logo a h1 {
    font-size: 22px;
}
.navigation section p button i.fa.fa-bars {
    font-size: 30px;
}
.navigation section p button {
    right: 50px;
}
.banner-info h3 {
    font-size: 22px;
}
section.about h2, section.info h3, section.work h3.text-center, section.service h3, section.team h3.text-center, section.subs h3.text-center, section.contact h3 {
    font-size: 22px;
}
section.info p {
    padding: 0 70px 45px;
}
.divide-info1 {
    top: 40px;
}
.divide-info1 p.divide-p1, .divide-info2 p.divide-p1 {
	padding-bottom:30px;
}
.divide-info2 {
    top: 350px;
}
section.work p.text-center, section.team p.text-center {
	line-height:30px;
}
.serv-w3ls {
    margin-left: -35px;
}
section.test h3 span.line1 {
    left: 140px;
	top:10px;
}
section.team .cs-style-1 figcaption ul.social-icons1 {
    margin-top: 40px;
}
section.subs .subscribe input#email {
    margin-left: 74px;
    font-size: 14px;
    height: 40px;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    margin-right: 54px;
    font-size: 14px;
    height: 40px;
    width: 35%;
}
section.contact .form-control {
    font-size: 14px;
    height: 40px;
}
input.form-control.user-name {
    background: url(../images/base/user.png) no-repeat 10px 9px;
}
input.form-control.mail {
    background: url(../images/base/mail.png) no-repeat 10px 10px;
}
input.form-control.pno {
    background: url(../images/base/phone.png) no-repeat 10px 9px;
}
button.btn-outline2 {
    margin-top: 10px;
    height: 55px;
}
section.footer a.text-center {
    font-size: 20px;
	padding-bottom:10px;
}
section.footer p.text-center {
    margin-bottom: 10px;
}
}

@media (max-width:414px) {
.logo {
    padding: 30px 0 0 20px;
}
.navigation section p button {
    right: 30px;
}
.banner-info h3 {
    font-size: 20px;
	letter-spacing:1px;
}
section.info p {
    padding: 0 35px 45px;
}
.divide-info1 p.divide-p1, .divide-info2 p.divide-p1 {
    padding-bottom: 20px;
	font-size:14px;
}
.divide-info1 h3, .divide-info2 h3 {
    font-size: 18px;
}
.divide-info2 {
    top: 300px;
}
.col-lg-3.col-md-3.col-sm-6.work-agile1 {
    width: 100%;
}
section.work .work-grid figure.effect-chico h4 {
    padding: 14% 0 15px 0;
}
.serv-w3ls {
    margin-left: -23px;
}
section.test h3 span.line1 {
    left: 109px;
}
.col-lg-4.col-md-4.col-sm-4.team-w3ls {
    width: 100%;	
}
section.team .cs-style-1 figcaption ul.social-icons1 {
    margin-top: 204px;
}
 section.subs h3.text-center {
	 font-size:18px;
 }
 section.subs .subscribe input#email {
	 margin:0 0 20px;
	 width:100%;
 }
 section.subs .subscribe button.btn.btn-outline.btn-lg {
	 width:100%;
	 margin:0;
 }
section.footer {
    padding: 15px 0;
}
section.footer p.text-center {
	line-height:30px;
}
section.banner .banner-info hr {
    margin: 20px 106px;
}
}

@media (max-width:384px) {
.col-xs-5.serv-details1 {
    width: 100%;
    float: left;
}
.col-xs-7.serv-details2 {
    width: 100%;
    float: left;
}
.serv-w3ls {
	margin:0;
	text-align:center;
}
.divide-info1, .divide-info2 {
	padding:0 20px;
}
.divide-info1 {
    top: 30px;
}
.divide-info2 {
    top: 265px;
}
section.service h4 {
    padding: 20px 0 10px;
}
p.team-p1 {
    font-size: 14px;
	padding-bottom:30px;
}
section.subs h3.text-center {
    font-size: 16px;
    padding-bottom: 20px;
}
}

@media (max-width: 375px) {
section.info p {
    padding: 0 20px 45px;
}
section.contact ul.social-icons2 {
    padding: 10px 0 25px;
}
}

@media (max-width: 320px) {
.logo a h1 {
    font-size: 20px;
}
.navigation section p button i.fa.fa-bars {
    font-size: 26px;
}
.banner-info h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
section.banner .banner-info hr {
    margin: 20px 65px;
}
section.banner, section.banner .rslides {
    height: 220px;
}
.banner-info {
    top: 12px;
}
section.about p {
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 10px;
}
.col-lg-6.col-md-6.about_right {
    margin-top: 20px;
}
.col-lg-3.col-md-3.about_left_grid {
    margin-top: 20px;
}
section.info {
    padding: 15px 0 0;
}
.divide-info1, .divide-info2 {
    padding: 0 5px;
}
.divide-info1 {
	top:7px;
}
.divide-info1 p.divide-p1, .divide-info2 p.divide-p1 {
    padding-bottom: 10px;
}
section.info p {
    padding: 0 0px 45px;
}
.divide-info2 {
	top:207px;
}
section.service {
    padding: 10px 0;
}
section.test h3 span.line1 {
    left: 67px;
}
section.subs h3.text-center {
    line-height: 25px;
}
section.team {
    padding: 30px 0 0;
}
section.contact p.addr1,section.contact p.addr2 {
    font-size: 13px;
}
button.btn-outline2 {
    height: 50px;
}
section.footer {
    padding: 10px 0;
}
}
/*-- /responsive design --*/


.about1 img{width:100%;height:auto;}


#page .blank10{height:20px;}




@media(min-width: 992px){
.blank20-md{
	clear:both;
	height:20px;
}
}









button#trigger-overlay .glyphicon {color:white;font-size:30px;}
div.hi-icon-wrap .glyphicon {color:white;font-size:80px;}





