{template 'head.html'}

<div class="t_1 wow bounceIn">
<div>
<h3>{lang(vieworders)}</h3>
<p>Query Order</p>
</div>
</div>

<div class="p10">



<form name="listform" id="listform"  action="<?php echo uri();?>" method="post">

<table class="table table-striped table-hover">
        
        <thead>
            <tr class="th">
                <th class="orders-list-id"><!--oid-->{lang(id)}</th>
                <th class="orders-list-title">{lang(title)}</th>
                <th class="orders-list-status"><!--status-->{lang(orderstatus)}</th>               
                <th class="orders-list-adddate"><!--adddate-->{lang(adddate)}</th>
                <th class="orders-list-dosomething">{lang(dosomething)}</th>
            </tr>

        </thead>
        <tbody>
            {loop $data $d}
<?php
if($d['status']==1){
	$d['status']='<font color="green">{lang(complete)}</font>';
}elseif($d['status']==0){
	$d['status']='<font color="red">{lang(ordersnotalreadydo)}</font>';
}elseif($d['status']==2){
	$d['status']='<font color="blue">{lang(processing)}</font>';
} 
?>
            <tr class="s_out">

                <td class="orders-list-id">{cut($d['oid'])}</td>
                <td class="orders-list-title">{getArchiveTitle($d['aid'])}</td>
                <td class="orders-list-status">{$d['status']}</td>
                <td class="orders-list-adddate">{cut(date('Y-m-d H:i:s',$d['adddate']))}</td>
                <td class="orders-list-dosomething">
                    <a href='<?php echo url("archive/orders/oid/".$d['oid'],false);?>' target="_blank" >{lang(look)}</a>                   
                </td>
            </tr>
            {/loop}


        </tbody>
    </table>


    <div class="blank30"></div>
   

</form>


<div class="pages">
<?php if(get('table')!='type' && front::get('case')!='field') echo pagination::html($record_count); ?>
</div>
<div class="blank10"></div>
<div class="blank30"></div>
<div class="blank30"></div>

{template 'foot.html'}