{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $i $archive}


			<div class="col-lg-4 col-md-4 col-sm-4 team-w3ls">
				<ul class="grid cs-style-1">
					<li>
						<figure>
							<img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' class="img-responsive" >
							{if $i==0}
							<figcaption id="t1" style="background:url({$archive['thumb']});background-position: center;   background-size: cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;-ms-background-size:cover;">
							{elseif $i==1}
							<figcaption id="t2" style="background:url({$archive['thumb']});background-position: center;   background-size: cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;-ms-background-size:cover;">
							{elseif $i==2}
							<figcaption id="t3" style="background:url({$archive['thumb']});background-position: center;   background-size: cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;-ms-background-size:cover;">
							{/if}
								<div>
								<h4><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h4>
								<p>{$archive[intro]}</p>
								</div>
							</figcaption>
						</figure>
					</li>
				</ul>
				<h4><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h4>
			</div>




{/loop}
