{loop plugins::categoryinfo($_catid) $c}


<h3 class="text-center"><a href="{$c[url]}">{$c[catname]}</a></h3>
<p class="text-center">{cut(strip_tags($c['categorycontent']),50)}</p>



{/loop}

