<div class="row work-w3ls1">
{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $i $archive}

{if $i==4}
		</div>
		<div class="row work-w3ls2">
{/if}



			<div class="col-lg-3 col-md-3 col-sm-6 work-agile1">
				<div class="grid">
					<figure class="effect-chico">
						<img class="img-responsive" alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' >
						<figcaption>
							<h4><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h4>
							<p>{$archive[intro]}</p>
							<a href="{$archive['url']}" class="thumbnail" title="Augue Maximus">{lang(more)}</a>
						</figcaption>			
					</figure>
				</div>		
			</div>



{/loop}
</div>