{loop plugins::categoryinfo($_catid) $c}


<div class="col-lg-6 col-md-6">
				<div class="about-details">
					<h2><a href="{$c[url]}">{$c[catname]}</a></h2>
					<p>{cut(strip_tags($c['categorycontent']),200)}</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<a class="about1 img-responsive" href="{$c[url]}"><img src="{$c[image]}"  /></a>
			</div>
{/loop}

