<li>
{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $i $archive}
{if $i%2==0 && $i>1}
</li>
<li>
{/if}

			<div class="col-lg-6 col-md-6 col-sm-6 divide-w3ls">
				<img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' >
				<div class="divide-info1">
					<h3><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h3>
					<p class="divide-p2">{$archive[intro]}</p>
				</div>
			</div>

{/loop}
</li>