{template 'header.html'}
<!-- 面包屑导航开始 -->
{template 'position.html'}
<!-- 面包屑导航结束 -->


<script src="{$skin_path}/js/c_tool.js" type="text/javascript" ></script><!--用于打印和文字放大-->


<!-- 页面标题开始 -->
<div class="title">
	<div class="container">
	<h3>{$archive[title]}</h3>
	</div>
</div>
<!-- 页面标题结束 -->


<!-- 中部开始 -->
<div class="container" id="print">

	<!-- 大图 -->
		<div class="pull-right col-xs-12 col-sm-6 col-md-6">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top:10px; overflow:hidden;">
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
				<div class="item active img-auto">
					<img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' />
				</div>
				{loop $archive[pics] $pic}
				<div class="item img-auto">
					<img src="{$pic[url]}" alt="{$pic[alt]}" class="img-responsive" onerror='this.src="{config::get('onerror_pic')}"' />
				</div>
				{/loop}
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			  </a>
			</div>
		</div><!-- /col-md-6 -->
		<!-- /大图 -->
    

<div class="pull-left col-sm-6 product_info">
<div>
<table>

{if $archive['attr2']}
{if $archive['attr2']==$archive['oldprice']}
<tr>
    <th>{lang(price)}：</th>
    <td><strong>{$archive['attr2']}</strong>{lang(unit)}</td>
  </tr>
{else}
<tr>
    <th>{lang(list_price)}：</th>
    <td><strong><span style="text-decoration:line-through;">{$archive['oldprice']}</span>{lang(unit)}</strong></td>
  </tr>
<tr>
    <th>{lang(discount)}：</th>
    <td><strong>{jsPrice($archive['aid'])}</span>{lang(unit)}</td>
  </tr>
{/if}
{/if}
  
</table>
</div>
<div>
<table>
{if config::get('isecoding')=='1'}
<tr>
    <th>{lang(ecoding)}：</th>
    <td>{if $archive['ecoding']}{$archive[ecoding]}{else}{lang(not)}{/if}</td>
  </tr>
{/if}

  <tr>
    <th>{lang(adddate)}：</th>
    <td>{$archive[adddate]}</td>
  </tr>
  <tr>
    <th>{lang(strgrades)}：</th>
    <td>{$archive[strgrade]}</td>
  </tr>
  
</table>
</div>
{if $archive['attr2']}
<p class="blank30"></p>
<a class="btn btn-primary btn-lg" target="_blank" href="{url('archive/orders/aid/'.$archive[aid],true)}">{lang(buy)}</a>
&nbsp;&nbsp;
<a href="{url('archive/doorders/aid/'.$archive['aid'],true)}" id="dialog_link" class="btn btn-warning btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg-shopping" aria-hidden="true">{lang(makeorders)}</a>
<p class="blank30"></p>
{/if}
</div>



	




</div>

<div class="blank30"></div>
<div class="blank30"></div>




<!-- 页面标题开始 -->
<div class="title">
	<div class="container">
	<h3>{lang(pintro)}</h3>
	<p>introduction</p>
	</div>
</div>
<!-- 页面标题结束 -->


<div class="container wow fadeIn" data-wow-delay="0.6s">


	<!--用于打印和文字放大-->
	<div class="content_tools_box">
		<p class="content_tools">
			<a href="javascript:CallPrint('print');">打印本文</a> &nbsp; &nbsp; &nbsp; <a href="javascript:doZoom(14)">小</a>&nbsp; &nbsp;<a href="javascript:doZoom(18)">中</a>&nbsp; &nbsp;<a href="javascript:doZoom(20)">大</a>
		</p>
		<div class="clearfix"></div>
		<script src="{$skin_path}/js/c_tool.js" type="text/javascript" ></script>
	</div>
	<!--/用于打印和文字放大-->



<div class="content" id="print">
	<div class="blank30"></div>
	<!-- 内容说明 -->
	<div id="content_text">
	{$archive[content]}
	</div>
</div>
<!--/article-->


<div class="blank30"></div>

<!-- 自定义表单开始 -->
{if $archive['showform']}
{template 'myform/nrform.html'}
<div class="blank30"></div>
{/if}
<!-- 自定义表单结束 -->

{if $archive[tag]}
<!-- tag -->
<div class="blank10"></div>
{lang(tag)}： {$archive[tag]}
{/if}

{if $archive[special]}
<!-- 专题 -->
<div class="blank10"></div>
{lang(special)}： {$archive[special]}
{/if}


{if $archive[type]}
<!-- 分类 -->
<div class="blank10"></div>
{lang(type)}： {$archive[type]}
{/if}


{if $archive[area]}
<!-- 地区 -->
<div class="blank10"></div>
{lang(area)}： {$archive[area]}
{/if}

<div class="blank30"></div>
{if $pages>1}
<!-- 内页分页 -->
<div class="blank10"></div>
<div class="pages">
{archive_pagination($archive)}
</div>
<div class="blank30"></div>
{/if}


<!--自动调用自定义字段-->
{$archive['my_fields']}
<div class="blank20"></div>


<?php if(archive_attachment($archive['aid'],'id')) { ?>
<!-- 附件 -->
<p>
{lang(attachment)}：{attachment_js($archive['aid'])}
</p>
<?php } ?>


<!-- 相关文章开始 -->
{if is_array($likenews)}
<div class="blank30"></div>
</div>


<!-- 页面标题开始 -->
<div class="title">
	<div class="container">
	<h3>{$archive[tag]}</h3>
	<p>{lang(relatedcontent)}</p>
	</div>
</div>
<!-- 页面标题结束 -->


<div class="container">


<ul class="list_page_1">
<!-- 内容列表开始 -->
{loop $likenews $item}<li>
<div class="list_page_date">
<span>{=sdate($archive[adddate],'d')}</span>
<p>{=sdate($archive[adddate],'Y-m')}</p>
</div>
<div class="li_text">
<p><a title="{$item[title]}" href="{$archive[url]}" target="_blank" class="list_page_t">{$archive[title]}</a></p>
<p>{cut(strip_tags($item['introduce']),110)}… <a href="{$archive[url]}" target="_blank">[{lang(more)}]</a></p>
<div class="clear"></div>
</div>
<div class="clear"></div>
</li>
{/loop}
<!-- 内容列表结束 -->
</ul>
{/if}
<!-- 相关文章结束 -->

<div class="blank30"></div>

<?php if(hasflash()) { ?>
<div style="color:red;font-size:16px;"><?php echo showflash(); ?></div><?php } ?>

<!-- 投票 -->
{vote_js($archive[aid])}


<script language="JavaScript">
function shutwin(){
window.close();
return;}
</script>



<div class="blank30"></div>


<!-- 上下页开始 -->
<div id="page">
{if $archive['p']['aid']}
<strong>{lang(archivep)}</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a>
{else}
<strong>{lang(archivep)}</strong>{lang(nopage)}	
{/if}
<div class="blank10"></div>
{if $archive['n']['aid']}
 <strong>{lang(archiven)}</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a>
{else}
<strong>{lang(archiven)}</strong>{lang(nopage)}	
{/if}
</div>
<!-- 上下页结束 -->
</div>

</div>
<div class="blank30"></div>
<!-- 评论框开始 -->
{template 'comment/comment.html'}
<!-- 评论框结束 -->


<div class="clear"></div>

</div>
</div>

<div class="modal fade bs-example-modal-lg-shopping" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

    </div>
  </div>
</div>



<!-- 页底推荐图文产品开始 -->
{tag_内容页底图文产品三条}
<!-- 页底推荐图文产品结束 -->
{template 'width_max.html'}

{template 'footer.html'}