{template 'header.html'}

{template 'system/slide.html'}




<div class="index-1">
<div class="container">
{tag_首页第一行栏目名称}
<ul>
{tag_首页第一行栏目图片说明一}
{tag_首页第一行栏目图片说明二}
{tag_首页第一行栏目图片说明三}
{tag_首页第一行栏目图片说明四}
</ul>
</div>		
</div>




 <div class="index-2 container">

 {tag_首页第二行栏目名称}

{tag_首页第二行推荐图片三张}

</div>

<div class="index-3">
<div class=" container">

{tag_首页第三行栏目}

</div>
</div>




{tag_首页第四行栏目名称}




<div id="owl-demo" class="owl-carousel">
{tag_首页第四行滚动图片}
</div>
<script src="{$skin_path}/js/owl.carousel.min.js"></script> 
<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        items : 3,
        lazyLoad : true,
        navigation : true
      });

    });
</script> 
<div class="blank60"></div>






<div class="clearfix">
{loop special::listdata(1) $special}
<a href="{$special[url]}" title="{$special[title]}"><img src="{$special[banner]}" alt="{$special[title]}" class="img-responsive" /></a>
{/loop}
</div>



<div class="index-6">

{tag_首页第六行栏目名称}
<div class="container">
<ul>
{tag_首页第六行图片12张}
</ul>

</div>
</div>






{template 'footer.html'}