{tag_首页第四行栏目名称}
<div class="blank30"></div>
<div class="container index4" style="z-index:7; position:relative; ">
	<div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
		<dl class="ico_tel">
			<dt>{lang(tel)}</dt>
			<dd>{get(tel)}</dd>
			</dl>
		<dl class="ico_qq">
			<dt>{lang(leftservers)}</dt>
			<dd>
				{if config::get('qq1')}<a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin={get(qq1)}&site=qq&menu=yes" target="_blank">{get(qq1name)}</a>{/if}
				{if config::get('qq2')}<a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin={get(qq2)}&site=qq&menu=yes" target="_blank">{get(qq2name)}</a>{/if}
				{if config::get('qq3')}<a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin={get(qq3)}&site=qq&menu=yes" target="_blank">{get(qq3name)}</a>{/if}
				{if config::get('qq4')}<a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin={get(qq4)}&site=qq&menu=yes" target="_blank">{get(qq4name)}</a>{/if}
				{if config::get('qq5')}<a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin={get(qq5)}&site=qq&menu=yes" target="_blank">{get(qq5name)}</a>{/if}
				<div class="clear"></div>
			</dd>
		</dl>
			<dl class="ico_add">
			<div class="blank20"></div>
			<dt>{lang(address)}</dt>
			<dd>
			{get(address)}
			</dd>
		</dl>
		<dl class="ico_weixin">
			<dt>{lang(attention)}{lang(official)}{lang(wechat)}</dt>
			<dd>
				<br>
				<br>
				<img src="{get(weixin_pic)}" width="170" onerror='this.src="{config::get('onerror_pic')}"' />
			</dd>
		</dl>
	</div>
	<div class="col-md-4 col-sm-6 wow fadeInUp">
		<h3 class="t_3">{tag_首页第四行栏目中间名称}</h3>
		<ul class="list_2">
		{tag_首页第四行中间内容七条列表}
		</ul>
		<div class="blank30"></div>
		<div class="vote">
			{ballot(1)}
		</div>
	</div>
	<div class="clearfix visible-xs-block"></div>
	<div class="col-md-4 wow fadeInRight" data-wow-delay="0.6s">
		<h3 class="t_3"><a rel="nofollow" title="{lang(feedback)}" href="{url('guestbook')}" target="_blank">{lang(foot_guestbook_hello)}</a></h3>
		<div class="blank10"></div>
		{callGuestbook()}
	</div>
</div>














<!-- 页底 -->

<div class="foot wow fadeInUp">
	<div class="container">
		<div class="row">	 
			<div class="col-sm-5">
				<dl class="foot_left">
				<dd>
				<form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
				<input type="text" name="keyword" value="{lang(pleaceinputtext)}" onfocus="if(this.value=='{lang(pleaceinputtext)}') {this.value=''}" onblur="if(this.value=='') this.value='{lang(pleaceinputtext)}'" class="s_text" />
				<input name='submit' type="submit" value="" align="middle" class="s_btn" />
				</form>
				</dd>
				{if config::get('isecoding')=='1'}
				<dd class="blank20"></dd>
				<dd>
				<form name='search' action="<?php echo url('archive/ecodingsearch');?>" onsubmit="search_check();" method="post">
				<input type="text" name="keyword" value="{lang(enter)}{lang(ecoding)}" onfocus="if(this.value=='{lang(enter)}{lang(ecoding)}') {this.value=''}" onblur="if(this.value=='') this.value='{lang(enter)}{lang(ecoding)}'" class="s_text" />
				<input name='submit' type="submit" value="" align="middle" class="s_btn" />
				</form>
				</dd>
				{/if}

				{if config::get('shoppingcart')=='1'}
				<dd class="blank20"></dd>
				<dd>
				<input type="text" id="oid" name="oid" value="{lang(orderquery)}" onfocus="if(this.value=='{lang(orderquery)}') {this.value=''}" onblur="if(this.value=='') this.value='{lang(orderquery)}'" class="s_text" />
				<input name='submit' type="submit" value="" onclick="javascript:window.location.href='<?php echo url('archive/orders');?>&oid='+document.getElementById('oid').value;" align="middle" class="s_btn" />
				</dd>
				{/if}

				<dd class="blank20"></dd>
				<form name="listform" id="listform"  action="<?php echo url('archive/email');?>" method="post">
				<dd>
				<input type="text" name="email" id="email" value=" {lang(mailsubscription)} "  onfocus="if(this.value==' {lang(mailsubscription)} ') {this.value=''}" onblur="checkEmail(this)" class="s_text" /> 
				<input type="submit" align="absmiple" name='submit' value=" " class="s_btn" />
				</dd>

				</form>
				</dl>
			</div>
			<div class="col-sm-2">
				<dl class="foot_qr_codes">
					{if config::get('qrcodes')=='1'}
					<dd><img width="150" src="{url('tool/qrcode')}" /></dd>
					<dd>{lang(scanning)}{lang(access)}{lang(sitewap)}</dd>
					{/if}
				</dl>
			</div>
			<div class="col-sm-5">
				<dl class="copyrights">
				<dd>{get(site_right)} <a title="{get('sitename')}" href="{$base_url}/">{get('sitename')}</a></dd>
				<dd>{getcnzzcount()}&nbsp;&nbsp;Powered by <a href="http://www.cmseasy.cn" title="CmsEasy企业网站系统" target="_blank">CmsEasy</a></dd>
				<dd><a rel="nofollow" href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank">{get('site_icp')}</a></dd>
				<dd>{if config::get('site_login')=='1'}{login_js()}&nbsp;&nbsp;{/if}{if config::get('opguestadd')=='1'}<a rel="nofollow" href="{$base_url}/?g=1">{lang(opguestadd)}</a>{/if}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				{if config::get('hotsearch')=='1'}{lang(hotkeys)}： {gethotsearch(10)}{/if}
			</div>
		</div>
	</div>
</div>

<!--/footer-->












<!-- search -->
<div class="container-fluid">

<div class="modal fade bs-example-modal-lg-search" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="row">
<form name='search' action="<?php echo url('archive/search');?>" onsubmit="search_check();" method="post">
<div class="col-lg-1"></div>
  <div class="col-lg-10">
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="{lang(pleaceinputtext)}">
          <span class="input-group-btn">
            <button class="btn btn-default" name='submit' type="submit">Go!</button>
          </span>
        </div>
      </div>
	  <div class="col-lg-1"></div>
  </form>

    </div>
  </div>
</div>

</div>
<!-- search end -->








<div class="servers">
<!--[if (gte IE 7)|!(IE)]><!-->
<!-- 在线客服 -->
{template 'system/servers.html'}
<![endif]-->
<!-- 短信 -->
{template 'system/sms.html'}
</div>

<div class="servers-wap">

{if config::get('wap_foot_nav')=='1'}
{template 'system/foot_nav_b.html'}
{elseif config::get('wap_foot_nav')=='2'}
{template 'system/foot_nav_c.html'}
{else}
{template 'system/foot_nav_a.html'}
{/if} 
</div>


<script type="text/javascript" src="{$base_url}/js/common.js"></script>


 


{if get('share')=='1'}
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
{/if}


{if config::get('site_push')=='1'}
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
{/if}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{$skin_path}/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{$skin_path}/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{$skin_path}/js/ie10-viewport-bug-workaround.js"></script>
<script src="{$skin_path}/js/bootstrap-submenu.js"></script>
<script src="{$skin_path}/js/docs.js"></script>

</body>
</html>
