{template 'header.html'}
<!-- 面包屑导航开始 -->
{template 'position.html'}
<!-- 面包屑导航结束 -->

<!-- 页面标题开始 -->
<div class="title">
<h3><a>{$archive[title]}<small>{$archive[subtitle]}</small></a></h3>
<p>{$archive[description]}</p>
<span>——</span>
</div>
<!-- 页面标题结束 -->


<hr class="featurette-divider">


<!-- 中部开始 -->
<div class="container">
	<div class="row">

		<div class="product_info col-sm-6">
			<div>
			<table>
				<tr>
					<th>{lang(dong_size)}：</th>
					<td>{$archive[my_size]}</td>
				</tr>
				<tr>
					<th>{lang(nowdownload)}：</th>
					 <td>{if $archive[attachment_id]}
					{attachment_js($archive['aid'])}
					{else}
					{lang(nodownload)}
					{/if}
					</td>
				</tr>
			</table>
			</div>
			<div>
			<table>
				<tr>
					<th>{lang(view)}：</th>
					<td>{view_js($archive[aid])}</td>
				</tr>
				<tr>
					<th>{lang(adddate)}：</th>
					<td>{$archive[adddate]}</td>
				</tr>
				<tr>
					<th>{lang(strgrades)}：</th>
					<td>{$archive[strgrade]}</td>
				</tr>
			</table>
			<p class="blank30"></p>
			</div>
		</div><!-- /product_info -->

		<!-- 大图 -->
		<div class="col-sm-6">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:300px; margin-top:10px; overflow:hidden;">
				<!-- Indicators -->
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					{loop $archive[pics] $pic}
					<div class="item active img-auto">
						<img src="{$pic[url]}" alt="{$pic[alt]}" class="img-responsive" onerror='this.src="{config::get('onerror_pic')}"' />
					</div>
					{/loop}
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div><!-- /carousel-example-generic -->
		</div><!-- /col-md-6 -->
		<!-- /大图 -->

	</div><!-- /row -->
</div><!-- /container -->



<div class="blank60"></div>
<div class="blank60"></div>



<hr class="featurette-divider">


<div class="title">
<h3><a>introduction<small>{lang(pintro)}</small></a></h3>
<p>{$archive[description]}</p>
<span>——</span>
</div>


<div class="container">

	<!--用于打印和文字放大-->
	<div class="content_tools_box">
		<p class="content_tools">
			<a href="javascript:CallPrint('print');">{lang(printcontent)}</a> &nbsp; &nbsp; &nbsp; <a href="javascript:doZoom(14)">{lang(small)}</a>&nbsp; &nbsp;<a href="javascript:doZoom(18)">{lang(middle)}</a>&nbsp; &nbsp;<a href="javascript:doZoom(20)">{lang(big)}</a>
		</p>
		<div class="clearfix"></div>
		<script src="{$skin_path}/js/c_tool.js" type="text/javascript" ></script>
	</div>
	<!--/用于打印和文字放大-->

	<!-- 正文 -->
	<div class="lead" id="print">
	{$archive[content]}
	</div>


	{if $archive[attr2]}
	<!-- 价格 -->
	<div class="blank10"></div>
	{lang(productprice)}： {$archive[attr2]}
	{/if}

	{if $archive[tag]}
	<!-- tag -->
	<div class="blank10"></div>
	{lang(tag)}： {$archive[tag]}
	{/if}

	{if $archive[special]}
	<!-- 专题 -->
	<div class="blank10"></div>
	{lang(special)}： {$archive[special]}
	{/if}

	{if $archive[type]}
	<!-- 分类 -->
	<div class="blank10"></div>
	{lang(type)}： {$archive[type]}
	{/if}

	{if $archive[area]}
	<!-- 地区 -->
	<div class="blank10"></div>
	{lang(area)}： {$archive[area]}
	{/if}

	<div class="blank30"></div>

	{if $pages>1}
	<!-- 内页分页 -->
	<div class="blank10"></div>
	<div class="pages">
	{archive_pagination($archive)}
	</div>
	<div class="blank30"></div>
	{/if}

	<!--自动调用自定义字段-->
	
	<?php if(archive_attachment($archive['aid'],'id')) { ?>
	<div class="blank20"></div>
	<!-- 附件 -->
	<p>
	{lang(attachment)}：{attachment_js($archive['aid'])}
	</p>
	<?php } ?>

	<?php if(hasflash()) { ?>
	<div class="blank30"></div>
	<div style="color:red;font-size:16px;"><?php echo showflash(); ?></div><?php } ?>

	<!-- 投票 -->
	{vote_js($archive[aid])}

	<!-- 自定义表单开始 -->
	{if $archive['showform']}
	{template 'myform/nrform.html'}
	{/if}
	<!-- 自定义表单结束 -->

	<div class="blank60"></div>

	<!-- 上下页开始 -->
	<div id="page">
	{if $archive['p']['aid']}
	<strong>{lang(archivep)}</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a>
	{else}
	<strong>{lang(archivep)}</strong>{lang(nopage)}	
	{/if}
	<div class="blank10"></div>
	{if $archive['n']['aid']}
	 <strong>{lang(archiven)}</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a>
	{else}
	<strong>{lang(archiven)}</strong>{lang(nopage)}	
	{/if}
	</div>
	<!-- 上下页结束 -->


</div><!-- /container -->



<!-- 相关文章开始 -->
{if is_array($likenews)}
<div class="blank60"></div>
<!-- 页面标题开始 -->
<div class="title">
<h3><a>{$archive[tag]}<small>{lang(relatedcontent)}</small></a></h3>
<p></p>
<span>——</span>
</div>
<!-- 页面标题结束 -->
<hr class="featurette-divider">
<div class="container">
	<!-- 内容列表开始 -->
	{loop $likenews $item}
	<div class="news-list list-border">
		<div class="list-date">
			<span>{=sdate($archive[adddate],'d')}</span>
			<p>{=sdate($archive[adddate],'Y-m')}</p>
		</div>
		<h4><a title="{$item[title]}" href="{archive::url($item)}" target="_blank">{cut($item['title'],20)}</a></h4>
		<p>{cut(strip_tags($item['introduce']),140)}… <a href="{archive::url($item)}" target="_blank">[{lang(more)}]</a></p>
	</div>
	{/loop}
	<!-- 内容列表结束 -->
</div>
{/if}
<!-- 相关文章结束 -->


<!-- 评论框开始 -->
{template 'comment/comment.html'}
<!-- 评论框结束 -->


<!-- 页底推荐图文产品开始 -->
{tag_内容页底图文产品三条}
<!-- 页底推荐图文产品结束 -->


{template 'footer.html'}